.left-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: -100%;
  bottom: auto;
  right: auto;
  background: #eafff86e;
  -webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.left-layer.active {
  left: 100%;
  z-index: 1000;
}
.left-layer--2 {
  background: #f5fffc;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.3s;
}
.left-layer--3 {
  background: #e2fff9;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.2s;
}
.left-layer--4 {
  background: #d9fdf8c2;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.1s;
}